<h3>Login - Template Driven Form</h3>
<form
  name="login" #f1="ngForm"
  (ngSubmit)="f1.form.valid && isHobbySelected() && onSubmit(f1)" 
  novalidate
>
  <div class="form-container">

    <div class="form-group">
      <label for="title">Title</label>
      <select id="title" name="title" [(ngModel)]="model.title" #title="ngModel" required>
        <option value="" disabled selected>Select</option>
        <option value="Mr">Mr</option>
        <option value="Miss">Miss</option>
        <option value="Mrs">Mrs</option>
      </select>
      <div *ngIf="f1.submitted && title.invalid" class="error">
        <span *ngIf="title.errors?.required">Title is required! Select one</span>
      </div>
    </div>

    <!-- First Name -->
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required minlength="6"/>
        <div *ngIf="f1.submitted && firstName.invalid" class="error">   
            <span *ngIf="firstName.errors?.required">First Name is required!</span>
        </div>
    </div>

    <!-- Last Name -->
    <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required/>
            <div *ngIf="f1.submitted && lastName.invalid" class="error">  
                <span *ngIf="lastName.errors?.required">Last Name is required!</span>
            </div>
    </div>

    <!-- Gender -->
    <div class="form-group">
        <label>Gender</label>
        <div class="radio-group">
            <input type="radio" id="male" name="gender" value="Male" [(ngModel)]="model.gender" #gender="ngModel" required/>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" [(ngModel)]="model.gender"/>
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="Other" [(ngModel)]="model.gender"/>
            <label for="other">Other</label>
        </div>
        <div *ngIf="f1.submitted && gender.invalid" class="error">
            <span *ngIf="gender.errors?.required">Gender is required! Select one</span>
        </div>
    </div>

    <!-- Mobile Number -->
    <div class="form-group">
        <label for="mobileNum">Mobile Number</label>
        <input type="text" id="mobileNum" name="mobileNum" [(ngModel)]="model.mobileNum" #mobileNum="ngModel" required pattern="^[0-9]{10}$"/>
        <div *ngIf="f1.submitted && mobileNum.invalid" class="error">
            <span *ngIf="mobileNum.errors?.required">Mobile Number is required!</span>
            <span *ngIf="mobileNum.errors?.pattern">Enter a valid 10-digit Phone Number!</span>
        </div>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label for="email">Email ID</label>
        <input type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required email/>
        <div *ngIf="(f1.submitted) && email.invalid" class="error">
            <span *ngIf="email.errors?.required">Email ID is required!</span>
            <span *ngIf="email.errors?.email">Enter a valid Email ID!</span>
        </div>
    </div>

    <!-- Hobbies -->
    <div class="form-group">
      <label>Hobbies</label>
      <div class="checkbox-group">
        <input type="checkbox" id="reading" name="hobbies.reading" [(ngModel)]="model.hobbies.reading"/>
        <label for="reading">Reading</label>
        <input type="checkbox" id="gaming" name="hobbies.gaming" [(ngModel)]="model.hobbies.gaming"/>
        <label for="gaming">Gaming</label>
        <input type="checkbox" id="sports" name="hobbies.sports" [(ngModel)]="model.hobbies.sports"/>
        <label for="sports">Sports</label>
      </div>
      <div *ngIf="f1.submitted && !isHobbySelected()" class="error">
        <span>At least one hobby is required!</span>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required pattern="[a-zA-Z0-9]{8,15}"
      />
      <div *ngIf="f1.submitted && password.invalid" class="error">
        <span *ngIf="password.errors?.required">Password is required!</span>
        <span *ngIf="password.errors?.pattern">Password should be 8-15 alphanumeric characters!</span>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required/>
        <div *ngIf="f1.submitted && confirmPassword.invalid" class="error">   
            <span *ngIf="model.confirmPassword !== model.password">Passwords do not match!</span>
        </div>
    </div>

    <!-- Accept Terms -->
    <div>
        <input type="checkbox" id="acceptTerms" name="acceptTerms" [(ngModel)]="model.acceptTerms" #acceptTerms="ngModel" required/>
        <b><label for="acceptTerms">Accept the terms & conditions</label></b>
        <div *ngIf="f1.submitted && acceptTerms.invalid" class="error">
            <span>Compulsory to accept terms & conditions!</span>
        </div>
    </div>
<br>
    <!-- Buttons -->
    <div class="form-group buttons">
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </div>
  </div>
</form>